body{
    background-color: #99ccff;
}
.title{
    grid-area: header;
}
.main{
    grid-area: body;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "body body body"
    "body body body";
}