body{
    background-color: #99ccff;
}
.title{
    grid-area: header;
}
.main{
    grid-area: main;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'body body body'
    'body body body';
    grid-gap: 10px;
    padding: 10px;
}